body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #fafafa;
}

code {
  white-space: pre;
  background-color: #f0f0f0;
  padding: 0.5em;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

h1 {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

textarea {
  height: 90vh;
  width: 80%;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.main {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.search {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.sidebar {
  background-color: #f0f0f0;
  height: 100vh;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  margin-top: 0;
  margin-bottom: 1em;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
